<h1>Orders:</h1>
{{#each orders as |order|}}
<div class="order-card">
  <div class="order-card-header">
    {{customer_name}}
    {{order.time}}
  </div>
  <div class="card-body">
      <ol>

     {{#each dishes as |dish|}}
        <li>
            {{dish.name}}
            {{dish.addons}}
            {{dish.allergies}}
        </li>
      {{/each}}
      
      </ol>
    
  </div>
</div>
