<h1>Orders</h1>
<div class="row">
{{#each orders as |order|}}
<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header">{{ order.id }} {{order.customer_name}} {{order.status}}</div>

  <div class="card-body">

    
     {{#each order.dishes as |dish|}}
    <section class="card text-dark">
    <header>{{ dish.name }}</header>

    <div class="card-body">
      ${{ format_amount dish.price }}
      <p>Contains: {{ dish.allergies }}</p>
    </div>
  
</section>

     {{/each}}
    
   
    
  </div>
</div>
{{/each}}
</div>
<a type="button" id = "neworder" class="btn btn-dark btn-lg btn-block" href="/api/orders/neworder">Create New Order</a>



